<% include globalView/header.ejs%>
<!--..放单独需要的CSS -->
<% include globalView/mainNavbar.ejs%>

<div id="container" class="container">


  <% if(!user){ %>
  <div class="jumbotron" >
    <h1>欢迎~</h1>
    <p>哦哈呦~ </p>
    <p>
      <a class="btn btn-primary btn-large" href="/login" >登录</a>
      <a class="btn btn-default btn-large" href="/reg" >立即注册</a>
    </p>
  </div>
  <% } else if(user.uIdentity==0){ %>
  <div class="indexRecoDiv">
    <div class="indexModuleNameDiv">
      <span><h3 class="indexModuleName">我的课程</h3></span>
      <span class="pull-right"><a href="#">查看更多</a></span>
    </div>
    <div class="row">
    <%
      var len=studyingClasses.length;
      for(var i=0;i<len;i++){
    %>
      <div class="col-md-6">
        <div class="well myClassWell clearfix">
          <div>
             <img src="<%= studyingClasses[i].subjectPicture %>" class=" img-responsive img-rounded myClassImg"/>
            <div class="myClassInfoDiv">
                <ul class="list-group">
                  <li class="list-group-item list-group-item-info">
                    <a href="" class="recName"><%= studyingClasses[i].subjectName%></a>
                  </li>
                  <li class="list-group-item list-group-item-info">
                    <a href="" class="recName text-center"><%= studyingClasses[i].teacherName%></a>
                  </li>
                  <li class="list-group-item list-group-item-info">
                    上次学习：<%= studyingClasses[i].lastStudy%>
                  </li>
                </ul>
              <!--</div>-->
               <span class="button-wrap">
                 <a href="#" class="button button-pill button-raised button-primary">Start</a>
               </span>
            </div>

            </div>
        </div>
      </div>
    <% }%>
    </div>
  </div>
  <% }%>

  <hr />

  <div class=" indexRecoDiv">
    <div class="indexModuleNameDiv">
      <span><h3 class="indexModuleName">推荐课程</h3></span>
      <span class="pull-right"><a href="#">查看更多</a></span>
    </div>
    <div class="row">
        <% var len=mostRecSubjects.length;
        for(var i=0;i<len;i++){
        %>
        <div class="col-sm-6 col-md-3">
          <div class="thumbnail">
            <img src="<%= mostRecSubjects[i].sPicture %>" class="" />
            <div class="caption">
              <a href="" class="recName text-center"><%= mostRecSubjects[i].sName%></a>
              <span class="recInfo">
                <span><%= mostRecSubjects[i].sFollowerNum%></span>
                <span class="glyphicon glyphicon-star"></span>
              </span>
              <!--<p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>-->
            </div>
          </div>
        </div>
        <% }%>
    </div>
  </div>
  <hr />

  <div class=" indexRecoDiv">
    <div class="indexModuleNameDiv">
      <span><h3 class="indexModuleName">推荐老师</h3></span>
      <span class="pull-right"><a href="#">查看更多</a></span>
    </div>
    <div class="row">
      <% var len=mostRecTeachers.length;
      for(var i=0;i<len;i++){
      %>
      <div class="col-sm-6 col-md-3">
        <div class="thumbnail">
          <img src="<%= mostRecTeachers[i].uPicture %>" class="" />
          <div class="caption">
            <a href="" class="recName text-center"><%= mostRecTeachers[i].uUserName%></a>
              <span class="recInfo">
                <span><%= mostRecTeachers[i].uFollowerNum%></span>
                <span class="glyphicon glyphicon-star"></span>
              </span>
            <!--<p><a href="#" class="btn btn-primary">Action</a> <a href="#" class="btn">Action</a></p>-->
          </div>
        </div>
      </div>
      <% }%>
    </div>
  </div>
  <hr />


  <!--计划没有放-->

</div>
</body>
<% include globalView/footer.ejs %>

<!-- ..放单独需要的JS -->
</body>
</html>

